{% extends 'base.html' %}
{%block content %}

 <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employees</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('attendance') }}">Attendance</a></li>
              <li class="breadcrumb-item active">Employees</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Employees List</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

             <table class="table table-striped">
                 <thead>
                 <th></th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Department</th>
                 <th>Staff ID</th>
                 </thead>
                 {% for row in employees %}
                     <tr>
                         <td><img width="30px" src="{{ url_for('static',filename='img/users/'+ row.id|string+'.jpg') }}"> </td>
                         <td>{{ row.firstname }}</td>
                         <td>{{ row.lastname }}</td>
                         <td>{{ row.department }}</td>
                         <td>{{ row.staffid }}</td>
                     </tr>
               {% endfor %}

             </table>

        </div>
        <!-- /.card-body -->

      </div>
      <!-- /.card -->

    </section>


{% endblock %}